/* Google Fonts Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    /* background-image: linear-gradient(135deg, #191919 10%, #191919 100%); */
}

.ovr {
    text-decoration: line-through;
    color: red;
}

.entd {
    display: flex;
    justify-content: space-between;
}

.theme {
    color: #00308F;
}

.dj {
    color: #db9833;
}

.ovrg {
    color: green;
}

.product-card {
    position: relative;
    /* margin-left: auto; */
    margin: 0px auto auto auto;
    max-width: 355px;
    width: 100%;
    /* border-radius: 25px; */
    padding: 20px 30px 30px 30px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
    overflow: hidden;
}

.product-card .logo-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-card .logo-cart img {
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.product-card .logo-cart i {
    font-size: 27px;
    color: #707070;
    cursor: pointer;
    transition: color 0.3s ease;
}

.product-card .logo-cart i:hover {
    color: #333;
}

.product-card .main-images {
    position: relative;
    height: 210px;
}

.product-card .main-images img {
    position: absolute;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transform: rotate(18deg);
    left: 12px;
    top: -40px;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.product-card .main-images img.active {
    opacity: 1;
}

.product-card .shoe-details .shoe_name {
    font-size: 24px;
    font-weight: 500;
    color: #161616;
}

.product-card .shoe-details p {
    font-size: 12px;
    font-weight: 400;
    color: #333;
    text-align: justify;
}

.product-card .shoe-details .stars i {
    margin: 0 -1px;
    color: #333;
}

.product-card .color-price .color-option {
    display: flex;
    align-items: center;
}

.color-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.price {
    border-style: solid;
    border-width: 3px;
    border-color: #00308F;
    border-radius: 10px;
}

.color-price .color-option .color {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-right: 8px;
}

.color-option .circles {
    display: flex;
}

.color-option .circles .circle {
    height: 18px;
    width: 18px;
    background: #0071C7;
    border-radius: 50%;
    margin: 0 4px;
    cursor: pointer;
    transition: all 0.4s ease;
}

.color-option .circles .circle.blue.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #0071C7;
}

.color-option .circles .circle.pink {
    background: #FA1795;
}

.color-option .circles .circle.pink.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #FA1795;
}

.color-option .circles .circle.yellow {
    background: #F5DA00;
}

.color-option .circles .circle.yellow.active {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px #F5DA00;
}

.color-price .price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-price .price .price_num {
    font-size: 25px;
    font-weight: 600;
    color: #707070;
}

.price_num {
    margin-left: 15px;
    margin-right: 10px;
}

.color-price .price .price_letter {
    font-size: 10px;
    font-weight: 600;
    margin-top: -4px;
    color: #707070;
}

.product-card .button {
    position: relative;
    height: 50px;
    width: 100%;
    border-radius: 25px;
    margin-top: 30px;
    overflow: hidden;
}

.product-card .button .button-layer {
    position: absolute;
    height: 100%;
    width: 300%;
    left: -100%;
    background-image: linear-gradient(135deg, #04619F, #04619F, #000000, #000000);
    transition: all 0.4s ease;
    border-radius: 25PX;
}

.product-card .button:hover .button-layer {
    left: 0;
}

.product-card .button button {
    position: relative;
    height: 100%;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
}

.slider {
    display: block;
    position: relative;
    /* background: #191919; */
    width: 800px;
    min-height: 490px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.posfix {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 55%;
}

.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.slider .slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s;
}

.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .slide .info {
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 5%);
}

.buting {
    background-color: #4E4E50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 10px;
    margin: 4px 2px;
    border-radius: 12px;
    background-image: linear-gradient(to right, #FA5B3D 0%, #FF5470 51%, #FF5470 100%);
}

.slider .slide .info h2 {
    font-size: 2em;
    font-weight: 800;
}

.slider .slide .info p {
    font-size: 1em;
    font-weight: 400;
}

.navigation {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider:hover .navigation {
    opacity: 1;
}

.prev-btn,
.next-btn {
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility {
    z-index: 999;
    display: flex;
    justify-content: center;
}

.info {
    display: none;
}

.two-omp {
    color: red;
    margin-left: 20px;
}

.back {
    margin-left: 25px;
    margin-top: 20px;
}

.tic {
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 5px;
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: #4E4E50;
    background-image: linear-gradient(to right, #FA5B3D 0%, #FF5470 51%, #FF5470 100%);
}

.navigation-visibility .slide-icon {
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
}

.navigation-visibility .slide-icon.active {
    background: #4285F4;
}

@media (max-width: 900px) {
    .slider {
        width: 100%;
    }
    .slider .slide .info {
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px) {
    .slider .slide .info h2 {
        font-size: 1.8em;
        line-height: 40px;
    }
    .slider .slide .info p {
        font-size: 0.9em;
    }
}